In [1]:
import pandas as pd
import re

In [2]:
data = [['विजय कुमार राठी', 'विजय'], ['विजय कुमार राठी', 'कुमार विजय'], ['विजय कुमार राठी', 'वि के राठी '], ['विजय कुमार राठी', 'विनय राठी '], ['विजय कुमार राठी','श्री विजय राठी'],['विजय कुमार राठी', 'विजय राठी'], ['विजय कुमार राठी', 'विजय आर'], ['विजय कुमार राठी', 'विनय कुमार राठी'], ['विजय कुमार राठी', 'विजय कुमार राही ']]

In [3]:
df = pd.DataFrame(data, columns = ['Owner name received through application', 'Owner name available in DB'])

In [4]:
df

  Owner name received through application Owner name available in DB
0                         विजय कुमार राठी                       विजय
1                         विजय कुमार राठी                 कुमार विजय
2                         विजय कुमार राठी                वि के राठी
3                         विजय कुमार राठी                 विनय राठी
4                         विजय कुमार राठी             श्री विजय राठी
5                         विजय कुमार राठी                  विजय राठी
6                         विजय कुमार राठी                    विजय आर
7                         विजय कुमार राठी            विनय कुमार राठी
8                         विजय कुमार राठी           विजय कुमार राही

In [54]:
conversiontable = {'ॐ' : 'oṁ', 'ऀ' : 'ṁ', 'ँ' : 'ṃ', 'ं' : 'ṃ', 'ः' : 'ḥ', 'अ' : 'a', 'आ' : 'ā', 'इ' : 'i', 'ई' : 'ī', 'उ' : 'u', 'ऊ' : 'ū', 'ऋ' : 'r̥', 'ॠ' : ' r̥̄', 'ऌ' : 'l̥', 'ॡ' : ' l̥̄', 'ऍ' : 'ê', 'ऎ' : 'e', 'ए' : 'e', 'ऐ' : 'ai', 'ऑ' : 'ô', 'ऒ' : 'o', 'ओ' : 'o', 'औ' : 'au', 'ा' : 'ā', 'ि' : 'i', 'ी' : 'ī', 'ु' : 'u', 'ू' : 'ū', 'ृ' : 'r̥', 'ॄ' : ' r̥̄', 'ॢ' : 'l̥', 'ॣ' : ' l̥̄', 'ॅ' : 'ê', 'े' : 'e', 'ै' : 'ai', 'ॉ' : 'ô', 'ो' : 'o', 'ौ' : 'au', 'क़' : 'q', 'क' : 'k', 'ख़' : 'x', 'ख' : 'kh', 'ग़' : 'ġ', 'ग' : 'g', 'ॻ' : 'g', 'घ' : 'gh', 'ङ' : 'ṅ', 'च' : 'c', 'छ' : 'ch', 'ज़' : 'z', 'ज' : 'j', 'ॼ' : 'j', 'झ' : 'jh', 'ञ' : 'ñ', 'ट' : 'ṭ', 'ठ' : 'ṭh', 'ड़' : 'ṛ', 'ड' : 'ḍ', 'ॸ' : 'ḍ', 'ॾ' : 'd', 'ढ़' : 'ṛh', 'ढ' : 'ḍh', 'ण' : 'ṇ', 'त' : 't', 'थ' : 'th', 'द' : 'd', 'ध' : 'dh', 'न' : 'n', 'प' : 'p', 'फ़' : 'f', 'फ' : 'ph', 'ब' : 'b', 'ॿ' : 'b', 'भ' : 'bh', 'म' : 'm', 'य' : 'y', 'र' : 'r', 'ल' : 'l', 'ळ' : 'ḷ', 'व' : 'v', 'श' : 'ś', 'ष' : 'ṣ', 'स' : 's', 'ह' : 'h', 'ऽ' : '\'', '्' : '', '़' : '', '०' : '0', '१' : '1', '२' : '2', '३' : '3', '४' : '4', '५' : '5', '६' : '6', '७' : '7', '८' : '8', '९' : '9', 'ꣳ' : 'ṁ', '।' : '.', '॥' : '..', ' ' : ' ', }

In [55]:
consonants = '\u0915-\u0939\u0958-\u095F\u0978-\u097C\u097E-\u097F'
vowelsigns = '\u093E-\u094C\u093A-\u093B\u094E-\u094F\u0955-\u0957' 
nukta = '\u093C' 
virama = '\u094D' 
devanagarichars = '\u0900-\u097F\u1CD0-\u1CFF\uA8E0-\uA8FF'

In [70]:
def hindi_to_English(text): 
    word = text.strip()  
    curr = '' 
    for index, char in enumerate(word): 
        if re.match('[' + devanagarichars + ']', char):  
            if re.match('[' + consonants + ']', char):  
                nextchar = word[(index + 1) % len(word)] 
                if nextchar:  
                    if re.match('[' + nukta + ']', nextchar): 
                        cons = char + nextchar 
                        nukta_present = 1 
                    else: 
                        cons = char 
                        nukta_present = 0  
                    if nukta_present: 
                        nextchar = word[(index + 2) % len(word)]  
                    if re.match('[' + vowelsigns + virama +']', nextchar): 
                        trans = conversiontable.get(cons, '') 
                        curr = curr + trans 
                    else: 
                        trans = conversiontable.get(cons, '') 
                        trans = trans + "a" 
                        curr = curr + trans 
            else: 
                trans = conversiontable.get(char, '') 
                curr = curr + trans  
        else: 
            curr = curr + char 
    return curr

In [71]:
def getEnglish(inputtext):
    word_syllables = []
    all_words = []
    for word in inputtext.split():
        English_output = hindi_to_English(word)
        all_words.append(English_output)
        joined_all_words = ' '.join(all_words)
    return joined_all_words

In [72]:
getEnglish('विनोद')

'vinoda'

In [73]:
getEnglish('मनोज')

'manoja'

In [74]:
x = df['Owner name received through application']
len(x)

9

In [75]:
df['Owner name received through application'] = df['Owner name received through application'].apply(getEnglish)
df['Owner name available in DB'] = df['Owner name available in DB'].apply(getEnglish)
df

  Owner name received through application Owner name available in DB
0                     vijaya kumara raṭhi                     vijaya
1                     vijaya kumara raṭhi              kumara vijaya
2                     vijaya kumara raṭhi                vi ke raṭhi
3                     vijaya kumara raṭhi               vinaya raṭhi
4                     vijaya kumara raṭhi           śri vijaya raṭhi
5                     vijaya kumara raṭhi               vijaya raṭhi
6                     vijaya kumara raṭhi                 vijaya ara
7                     vijaya kumara raṭhi        vinaya kumara raṭhi
8                     vijaya kumara raṭhi         vijaya kumara rahi

In [76]:
input_text = df['Owner name available in DB']

In [77]:
def getMatch(input_text):
    text = ['vijaya','kumara','raṭhi','vi','ke','ara','śri']
    input_text = df['Owner name available in DB']
    splitted_DB = [n.split(' ') for n in input_text ]
    result = []
    for i in range(0,len(input_text)):
        for j in range(0,len(splitted_DB[i])):
            if splitted_DB[i][j] in text:
                if j == len(splitted_DB[i])-1:
                    result += ['Match']
            else:
                result += ['Not Match']
                break;
    return result
getMatch(input_text)

['Match',
 'Match',
 'Match',
 'Not Match',
 'Match',
 'Match',
 'Match',
 'Not Match',
 'Not Match']

In [78]:
df1 = df.copy()
df1['Result'] = getMatch(df['Owner name available in DB'])
df1

,Owner name received through application,Owner name available in DB,Result
0,vijaya kumara raṭhi,vijaya,Match
1,vijaya kumara raṭhi,kumara vijaya,Match
2,vijaya kumara raṭhi,vi ke raṭhi,Match
3,vijaya kumara raṭhi,vinaya raṭhi,Not Match
4,vijaya kumara raṭhi,śri vijaya raṭhi,Match
5,vijaya kumara raṭhi,vijaya raṭhi,Match
6,vijaya kumara raṭhi,vijaya ara,Match
7,vijaya kumara raṭhi,vinaya kumara raṭhi,Not Match
8,vijaya kumara raṭhi,vijaya kumara rahi,Not Match

In [79]:
getEnglish('शंकर')

'śaṃkara'

In [80]:
getEnglish('अंबर')

'aṃbara'

In [81]:
getEnglish(' प्रद्युम')

'pradyuma'

In [82]:
getEnglish('ऐश्वर्या')

'aiśvaryā'

In [83]:
getEnglish('वेनतेय')

'venateya'